/* Estilos que solo se aplican en pantallas menores a 768px (dispositivos móviles) */
@media only screen and (max-width: 768px) {
    .contenedor {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        flex-direction: column; /* Alinea los elementos en columna */
        height: 100%; /* Ocupa toda la altura de la pantalla */
        overflow: hidden;
    }

.imgContainer{
    display: flex;
    gap: 0px;
}
    
.FotoPerfil{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}

}